@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Baloo+Bhaijaan+2&family=Croissant+One&family=Lilita+One&family=Merriweather&family=Mooli&family=Oswald:wght@500&family=Playfair+Display:wght@500&family=Roboto+Slab&display=swap');

  .about-ul{
    list-style: none;
  }
  .about-ul li::before {
    content: "\2039";
    color: rgb(255, 234, 0);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
  }


  .about-ul li{
    font-weight: bold;
   font-family: 'Merriweather', serif;
   font-size: 17px;
                  
  }

  .empty {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 100px 0 100px;
    border-color: #fcc419 transparent transparent transparent;
  }